.form-box.container{
    background-color: rgba(105,105,105,0.9);
    border-radius: 15px;
    color: white;
    font-weight: 500;
    margin-top: 7%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.form-col.col-sm-6{
    padding-top: 2%;
}

.info.card{
    background-color: rgba(105,105,105,0.3);
}