.card-footer {
  text-align: center;
}

.header {
  color: black;
}

.link-body.card-body {
  text-align: center;
}

.card-img-top{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}